.account-root {
    padding: 15vh 10vw;	
    animation: fadeInUp 1s ease-out forwards;
}

.account-root h1{
	font-size: 3rem !important;
}

.account-root h3{
	padding: 20px 0 30px 0 !important;
}

.account-msg-loading, .account-msg-success, .account-msg-error{
    margin-top: 30px !important;
    color: #fff !important;
	transition: all 0.3s ease-in-out;
} 	

.account-msg-loading {
	background-color: #F2711C !important;
}

.account-msg-success {
	background-color: #1EBC30 !important;
}

.account-msg-error {
	background-color: #DB2828 !important;
}

.account-input-field {
	margin: 20px 0;
	transition: all 0.3s ease-in-out;
}

.account-input-field .pointing{
	margin: 10px 0;
	transition: all 0.3s ease-in-out;
}

.account-root .button {
	font-size: 1.2rem;
	transition: all 0.3s ease-in-out;
}

@media all and (min-width: 1000px){
	.account-root {
	    padding: 15vh 15vw;	
	}
}

@media all and (min-width: 1200px){
	.account-root {
	    padding: 15vh 20vw;	
	}
}

@media all and (max-width: 480px){
	.account-root {
	    padding: 15vh 5vw;	
	}
}

@media all and (max-width: 400px){
	.account-root {
	    padding: 15vh 0;	
	}
}