.nav-logo {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}

img.nav-logo-image {
	width: 96px !important;
}

h1.nav-logo-title {
	position: relative;
    left: -30px;
	padding: 0 5px;
	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #4FD5C7, 0 0 70px #4FD5C7, 0 0 80px #4FD5C7, 0 0 100px #4FD5C7, 0 0 150px #4FD5C7;
}

@media all and (max-width: 780px) {
	img.nav-logo-image {
		width: 65px !important;
    	margin-top: 15px !important;
	}
	h1.nav-logo-title {
		left: -10px;
	}
}