@import "~bootstrap/scss/bootstrap";

#header {
	min-width: 100vw;
	height: 10vh;
	display: flex;
	align-items: center;
	background-color: #E27222;
	color: #DDC990;
	#left {
		width: 30%;
	}
	.btn-toolbar{
		width: 20%;
		margin-left: auto; // Floats it to left
	}
	font-size: 2vw;
}

#footer {
	bottom: 0;
	position: absolute;
	width: 100vw;
	height: 5vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #E27222;
	color: #DDC990;

	b {
		font-size: 1vw;
	}
}

.about-root {
	background: rgba(27, 28, 29, .6);
	padding: 0px 10px 50px 10px ;
}

.about-root h1 {
	padding-top: 40px !important;
}


.about-project {
	opacity: 0;
	animation: fadeInUp 1.5s 0.5s ease-out forwards;
}

.about-project-list .content {
	font-weight: 300;
}

.about-project-list .header{
	font-size: 1.2rem;
	padding: 10px 0;
	color: #4FD5C7 !important;
}

.about-project-list .content a.about-link {
	text-decoration: underline;
}

.about-project-list .statistic {
	margin-top: 0 !important;
}

.about-project-list .statistic .label {
	font-size: 12px;
}

.about-author {
	opacity: 0;
	animation: fadeInUp 1.5s 1s ease-out forwards;
}

.about-author .header {
	color: #4FD5C7 !important;
	font-size: 1.2rem !important;
	padding-top: 20px;
}

.about-author-icon, .about-author-link {
	padding: 10px 0;
	color: #fff !important;
	font-weight: 300;
}

.about-author-link a {
	margin-left: 5px;
	color: #4FD5C7;
}

.about-author-link a:hover {
	font-weight: 400;
	transition: all 0.3s ease-in-out;
}

.home-root {
	text-align: right;
	padding-top: 28vh;
	padding-right: 15vw;
	opacity: 0;
	animation: fadeInUp 1.5s 0.5s ease-out forwards;
}

.home-root h1{
	font-size: 3.8rem;
	transition: all 0.3s ease-in-out;
}

.home-root h5 {
	font-size: 1.3rem;
	margin: 12px 0;
	transition: all 0.3s ease-in-out;
}

.home-root .button {
	margin: 12px 0;
	transition: all 0.3s ease-in-out;
}

.home-root {
	text-align: right;
	padding-top: 28vh;
	padding-right: 15vw;
	opacity: 0;
	animation: fadeInUp 1.5s 0.5s ease-out forwards;
}

.home-root h1{
	font-size: 3.8rem;
	transition: all 0.3s ease-in-out;
}

.home-root h5 {
	font-size: 1.3rem;
	margin: 12px 0;
	transition: all 0.3s ease-in-out;
}

.home-root .button {
	margin: 12px 0;
	transition: all 0.3s ease-in-out;
}



