@import "~bootstrap/scss/bootstrap";

#header {
	min-width: 100vw;
	height: 10vh;
	display: flex;
	align-items: center;
	background-color: #E27222;
	color: #DDC990;
	#left {
		width: 30%;
	}
	.btn-toolbar{
		width: 20%;
		margin-left: auto; // Floats it to left
	}
	font-size: 2vw;
}

#footer {
	bottom: 0;
	position: absolute;
	width: 100vw;
	height: 5vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #E27222;
	color: #DDC990;

	b {
		font-size: 1vw;
	}
}

.home-root {
	text-align: right;
	padding-top: 28vh;
	padding-right: 15vw;
	opacity: 0;
	animation: fadeInUp 1.5s 0.5s ease-out forwards;
}

.home-root h1{
	font-size: 3.8rem;
	transition: all 0.3s ease-in-out;
}

.home-root h5 {
	font-size: 1.3rem;
	margin: 12px 0;
	transition: all 0.3s ease-in-out;
}

.home-root .button {
	margin: 12px 0;
	transition: all 0.3s ease-in-out;
}

.home-root {
	text-align: right;
	padding-top: 28vh;
	padding-right: 15vw;
	opacity: 0;
	animation: fadeInUp 1.5s 0.5s ease-out forwards;
}

.home-root h1{
	font-size: 3.8rem;
	transition: all 0.3s ease-in-out;
}

.home-root h5 {
	font-size: 1.3rem;
	margin: 12px 0;
	transition: all 0.3s ease-in-out;
}

.home-root .button {
	margin: 12px 0;
	transition: all 0.3s ease-in-out;
}


.pushable .content-root {
	height: calc(100vh - 100px);
	overflow: auto;
}


.nav-normal-root {
	width: 290px;
	height: 100vh;
	box-sizing: border-box;
	padding: 2rem !important;
	padding-right: 1rem !important;
	animation: fadeInLeft 1s ease-out forwards;
}

.nav-normal-root a.active {
	border-color: #4FD5C7 !important;
}

.nav-normal-root a.active h3 {
	color: #4FD5C7;
}




